<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>[% site_title %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">
var base_url    = '[% base_url %]';
var service_url = '[% service_url %]';
var http_url    = window.location.href;
var rel_url     = http_url.replace(base_url,'');
</script>
<script type="text/javascript" src="/js"></script>
</head>
<body onload="render_page()">
[% base_url %]

</body>
</html>
